services:
    laravel.test:
        build:
            context: ./docker/8.4
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.4/app
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${APP_PORT:-80}:80'
            - '${VITE_PORT:-5173}:${VITE_PORT:-5173}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}'
            NEW_RELIC_LICENSE_KEY: '${NEW_RELIC_LICENSE_KEY}'
            NEW_RELIC_APP_NAME: '${NEW_RELIC_APP_NAME}'
        volumes:
            - '.:/var/www/html'
        networks:
            - sail
        depends_on:
            - pgsql
            - redis

    pgsql:
        image: 'postgres:18-alpine'
        ports:
            - '${FORWARD_DB_PORT:-5432}:5432'
        environment:
            PGPASSWORD: '${DB_PASSWORD:-secret}'
            POSTGRES_DB: '${DB_DATABASE}'
            POSTGRES_USER: '${DB_USERNAME}'
            POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
        volumes:
            - 'sail-pgsql:/var/lib/postgresql/data'
            - './docker/pgsql/create-testing-database.sql:/docker-entrypoint-initdb.d/10-create-testing-database.sql'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - pg_isready
                - '-q'
                - '-d'
                - '${DB_DATABASE}'
                - '-U'
                - '${DB_USERNAME}'
            retries: 3
            timeout: 5s

    reverb:
      build:
        context: ./docker/8.4
        dockerfile: Dockerfile
        args:
          WWWGROUP: '${WWWGROUP}'
      restart: unless-stopped
      working_dir: /var/www/html
      command: php artisan reverb:start --host=0.0.0.0 --port=8080 --debug
      ports:
        - "8080:8080"
      environment:
        WWWUSER: '${WWWUSER}'
        LARAVEL_SAIL: 1
      volumes:
        - '.:/var/www/html'
      networks:
        - sail
      depends_on:
        - laravel.test
        - redis

    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s

    queue-worker:
      build:
        context: ./docker/8.4
        dockerfile: Dockerfile
        args:
          WWWGROUP: '${WWWGROUP}'
      restart: unless-stopped
      working_dir: /var/www/html
      command: php artisan queue:work redis --queue=default
      environment:
        WWWUSER: '${WWWUSER}'
        LARAVEL_SAIL: 1
        REVERB_HOST: "reverb"
      volumes:
        - '.:/var/www/html'
      networks:
        - sail
      depends_on:
        - laravel.test
        - pgsql
        - redis

networks:
    sail:
        driver: bridge
volumes:
    sail-pgsql:
        driver: local
    sail-redis:
        driver: local
